include CHANGELOG.rst
include Containerfile
include README.md
include LICENSE.rst
include MANIFEST.in
include tox.ini
include requirements.txt
include requirements-test.txt

graft tests
graft svg_clip

global-exclude *.py[co] *.py[cod]
global-exclude __pycache__